@font-face {
    font-family: ptsans;
    src: url(PTSans-Regular.ttf);
}

@font-face {
    font-family: lustria;
    src: url(Lustria-Regular.ttf);
}

#cab {
    background-color: #95B080;
    position: fixed;
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 50px 50px;
    
}
*{
    margin: 0;
    padding: 0;
}
#menu {
    position: relative;
    left: 80%;
    top: 52px;
    font-family: ptsans;
    display: inline-block;
    text-decoration: none;
}
#menu:hover {
    text-decoration: underline;
}

#linkmenu {
    position: relative;
    top: 900px;
    left: 630px;
}

header {
    z-index: 10;
    box-shadow: 10px 10px 20px black;
}

#conta {
    font-family: ptsans;
    position: absolute;
    top: 45px;
    left: 40%;
    display:inline-block;
    border: solid 1px white;
    border-radius: 95px;
    width: 290px;
    height: 50px;
    background-color: rgba(255, 255, 0, 0);
    color: white;
    font-size: 30px;
}

#conta:hover{
font-weight: bold;
border: solid 3px white;
}
.cabt {
    color: white;
    font-size: 30px;
    font-weight: 20;
    letter-spacing: 3px;   
}
#jaraguacab {
    position: absolute;
    color: white;
    letter-spacing: 3px;
    top: 48px;
    left: 210px;
    display:inline-block;
    font-family: ptsans;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
#jaraguacab:hover{
    text-decoration: underline;
}

.tramenu {
    width: 50px;
    height: 5px;
    background-color: white;
    position: relative;
    top: 14px;
    left: 1150px;
    border-radius: 30px;

}

.tramenu ~ .tramenu {
    margin-top: 13px;
}

#icone1 {
    position: absolute;
    filter: invert(100%);
    width: 100px;
    top: 15px;
    left: 100px;
}

#des {
    position: absolute;
    color:black;
    top: 250px;
    left: 600px;
    display:inline-block;
    font-family: ptsans;
    font-size: 40px;
    font-weight: bold;
}
#linha {
    border: solid black 1px;
    background-color: black;
    width: 220px;
    height: 1px;
    position: absolute;
    top: 310px;
    left: 580px;
    font-weight: bold;
}

#hist {
    position: absolute;
    color:black;
    top: 450px;
    left: 600px;
    display:inline-block;
    font-family: lustria;
    font-size: 40px;
}
#fundohist {
    width: 1230px;
    height: 500px;
    background-color: #afc2a0;
    position: absolute;
    z-index: -10;
    top: 420px;
    left: 70px;
    border-radius: 50px;
}

.texto {
    font-family: ptsans;
    font-size: 22px;
}

#textoh {
    position: relative;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 550px;
    font-family: lustria;
}

#fotohist {
    border-radius: 20px;
    width: 560px;
    height: 380px;
    position: relative;
    top: 90px;
    left: 80px;
    display: inline-block;
}

#pano {
    position: absolute;
    color:black;
    top: 1030px;
    left: 600px;
    display:inline-block;
    font-family: ptsans;
    font-size: 40px;
}

#fundopano {
    width: 1230px;
    height: 450px;
    background-color:#afc2a0;
    position: absolute;
    z-index: -10;
    top: 1000px;
    left: 70px;
    border-radius: 50px;
}

#vidpico {
    position: relative;
    top: 100px; 
    left: 30px;
    border-radius: 20px;
    display: inline-block;
}
#mapa {
    position: relative;
    top: 100px;
    left: 60px;
    border-radius: 20px;
}

#demo {
    position: absolute;
    color:black;
    top: 1560px;
    left: 600px;
    display:inline-block;
    font-family: ptsans;
    font-size: 40px;

}

#fundodemo {
    width: 1230px;
    height: 450px;
    background-color:#afc2a0;
    position: absolute;
    z-index: -10;
    top: 1530px;
    left: 70px;
    border-radius: 50px;
}

.subt {
    font-family: ptsans;
    font-weight: bold;
    font-size: 30px;
}

#area {
    position: relative;
    top: 100px;
    left: 200px;

}

.textos {
    font-size: 20px;
    font-family: ptsans;
}

#tarea {
    position: relative;
    top: 130px;
    width: 300px;
    left: 70px;
    text-align: center;
}

#populacao {
    position: absolute;
    top: 100px;
    left: 560px;
}

#tpop {
    width: 300px;
    left: 470px;
    position: relative;
    text-align: center;
}

#idh {
    position: absolute;
    top: 100px;
    left: 1000px;
}
#tidh {
    width: 350px;
    position: absolute;
    text-align: center;
    top: 165px;
    left: 850px;
}

#edu {
    position: absolute;
    color:black;
    top: 2060px;
    left: 600px;
    display:inline-block;
    font-family: ptsans;
    font-size: 40px;

}

#fundoedu {
    width: 1230px;
    height: 500px;
    background-color:#afc2a0;
    position: absolute;
    z-index: -10;
    top: 2050px;
    left: 70px;
    border-radius: 50px;
}

#mapaedu {
    position: relative;
    top: 100px;
    left: 210px;
    border-radius: 20;
}

#tedu {
    position: relative;
    top: 80px;
    left: 430px;
}

footer {
 position: absolute;
 background-color: #59694d;
 top: 2600px;
 width: 100%;
 height: 340px;
 z-index: -10;
}

.tr {
    color: white;
    font-family: ptsans;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
}
#rs {
    position: relative;
    left: 60px;
    top: 45px;
}
#pre {
    position: relative;
    top: 45px;
    left: 420px;
}

#aju {
    position: relative;
    top: 45px;
    left: 795px;
}

li > img {
    width: 50px;
    position: relative;
    left: 60px;
    top: 55px;
}
li {
    list-style-type: none;
}

.lim{
    margin-top: 30px;
}

.lit {
    color: white;
    font-family: ptsans;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
}
.lit ~ .lit {
    margin-top: 30px;
}

#ja {
    top: 110px;
    left: 130px;
}
#pj {
    top: 163px;
    left: 130px;
}
#pj2 {
    top: 247px;
    left: 130px;
}

#roja {
    width: 235px;
    height: 153px;
    border: solid 5px #95B080;
    border-radius: 50px;
    position: absolute;
    top: 120px;
    left: 430px;
}

#rojai {
    position: relative;
    top: 20px;
    left: 30px;
    width: 170px;
}

#rogov {
    width: 235px;
    height: 153px;
    border: solid 5px #95B080;
    border-radius: 50px;
    position: absolute;
    top: 120px;
    left: 700px;
}

#rogovi {
    position: relative;
    top: 20px;
    left: 30px;
    width: 170px;
}

#sac {
    font-family: lustria;
    font-size: 34px;
    color: white;
    position: absolute;
    top: 150px;
    right: 140px;
}

#sact {
    font-family: ptsans;
    font-size: 34px;
    color: white;
    position: absolute;
    top: 200px;
    right: 70px;

}


